bresenham==0.2.1
certifi==2020.6.20
cflib==0.1.12.1
cycler==0.10.0
decorator==4.4.2
future==0.16.0
joblib==0.16.0
kiwisolver==1.2.0
lxml==4.1.1
matplotlib==3.3.2
msgpack==1.0.0
networkx==2.5
numpy==1.19.2
Pillow==7.2.0
pymavlink==2.2.8
pyparsing==2.4.7
python-dateutil==2.8.1
pyusb==1.1.0
scikit-learn==0.23.2
scipy==1.5.2
Shapely==1.7.1
six==1.15.0
threadpoolctl==2.1.0
udacidrone==0.3.5
utm==0.4.0
uvloop==0.9.1
websockets==4.0.1
